body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

.container {
  padding: 2rem;
}

table td {
  text-align: center;
}

table th {
  text-align: center;
}

.gen-room {
  margin: 5%;
}

.admin-tools {
  padding: 1%;
  margin: 1%;
}

#genroombtn {
  height: 6em;
}

.section {
  margin-top: rem;
}

.close-room {
  display: none;
}

.userlogin {
  margin-top: 5%;
}

.header {
  text-align: center !important;
}

.error-message {
  color: red;
  font-weight: bold;
  font-size: 16px;
}

.error {
  color: red;
  font-style: italic;
}

.action {
  padding: 0px !important;
}
