<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>

<body>
    <div class="container">
        <h1>Admin Dashboard</h1>
        <div class="row gen-room">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <button type="button" name="" id="" class="btn btn-block btn-primary">Generate Room</button>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="" id="" placeholder="">
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <table class="table table-striped col-md-12">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Admin Level</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">omar.ihmoda@gmail.com</td>
                    <td>
                        <div class="form-group">
                            <select class="form-control" name="" id="">
                                <option>Super Admin</option>
                                <option>Admin</option>
                                <option>Teacher</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <button type="button" name="" id="" class="btn btn-primary">Remove Account</button>
                        <button type="button" name="" id="" class="btn btn-primary">Edit Account</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>



</body>

</html>